@import 'variables';

.course {
    .card-course-item {
        margin-top: 16px;
        height: 100%;
        .card-body {
            text-align: center;
            .card-text {
                height: 200px;
            }
            .btn-buy {
                margin-bottom: 10px;
            }
        }
    }
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.delete-link a{
    text-decoration: none;
}

.checkbox-select-all-options{
    width: 140px;
    text-align: center;
    margin: 0 16px;
}